* {
    box-sizing: border-box;
    margin: 0;
    background-color: black;
}

header {
    color: white;
    text-align: center;
}

h1 {
    font-family: 'Prata', serif;
    padding: 5vh 0 1vh;

    /* background-color: red; */
}

header p {
    padding-bottom: 5vh;
    font-family: 'Jost', sans-serif;

    /* background-color: green; */
}

footer {
    background-color: black;
    color: white;
}

.links {
    padding: 6vh;
    display: flex;  
    justify-content: space-between;
    font-family: 'Jost', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
}

.links div {
    padding: 10px;
}

.links div p {
    margin: 0.5em 0.5em 0.75em;
    padding: 0 0.5em;
}

#company {
    padding: 20px;
}

#company p {
    margin: 0 0 5px 0;
    padding: 0 0 0;
}

#name {
    font-size: 2rem;
    font-family: 'Prata', serif;
}

.divider {
    width: 90%;
    border: 1px solid white;
    background-color: white;
    margin: 1vh auto;
}

.media {
    text-align: center;
    font-family: 'Jost', sans-serif;
    padding: 9vh 0;
}

#container {
    display: inline-block;
}

#container p {
    font-size: 1.2rem;
    margin-top: 2vh;
} 

@media (max-width: 1026px) {
    .links {
        padding: 6vh;
    }

    /* Tamaño letra nombre compañía */
    #name {
        font-size: 1.8rem;
    }

    /* Tamaño letra links */
    .links div p {
        font-size: 1rem;
    }

    .divider {
        margin: 1vh auto;
    }

    .media {
        padding: 9vh 0;
    }
}

@media (max-width: 892px) {
    h1 {
        padding: 7vh 0 1vh;
        /* background-color: red; */
    }
    
    header p {
        padding-bottom: 7vh;
        /* background-color: green; */
    }

    .links {
        padding: 4vh;
        /* background-color: pink; */
    }

    .links div {
        padding: 6px;
    }

    /* Tamaño letra nombre compañía */
    #name {
        font-size: 1.6rem;
    }

    /* Tamaño letra */
    .links div p {
        font-size: 0.9rem;
    }

    .links div p:last-of-type {
        margin-bottom: 4vh;
    }

    .divider {
        margin: 1.5vh auto;
    }

    #container div img {
        width: 90px;
        margin: 0 5px;
    }

    #container p {
        font-size: 1rem;
    }
}

@media (max-width: 760px) {
    h1 {
        padding: 7.5vh 0 1vh;
        /* background-color: red; */
    }
    
    header p {
        padding-bottom: 7.5vh;
        /* background-color: green; */
    }

    .links {
        padding: 3.7vh;
        /* background-color: pink; */
    }

    .links div {
        padding: 6px;
    }

    /* Tamaño letra nombre compañía */
    #name {
        font-size: 1.4rem;
    }

    /* Tamaño letra */
    .links div p {
        font-size: 0.8rem;
        margin-bottom: 2vh;
    }

    .links div p:last-of-type {
        margin-bottom: 4vh;
    }

    .divider {
        margin: 1.5vh auto;
    }

    #container div img {
        width: 80px;
        margin: 0 5px;
    }

    #container p {
        font-size: 0.8rem;
    }
}

@media (max-width: 706px) {
    .links {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: stretch;
        /* background-color: red; */
    }

    .links div[id="company"] {
        margin-bottom: 30px;
        width: 100%;
        text-align: center;
        /* background-color: yellow; */
    }

    .links div:not(#company) {
       /* background-color: blue; */
        width: 25%;
        padding: 0;
        text-align: center;
    }

    .links div p {
        font-size: 1rem;
    }
}

/* Siguiente 630px */
@media (max-width: 520px) {
      section.links {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        /* border: 1px solid white; */
    }

    section.links div:not(#company) {
        /* background-color: blue; */
        border-bottom: 1px solid white;
        width: 50%;
        padding: 10px;
        text-align: center;
    }
}

@media (max-width: 370px) {
    section.links div:not(#company) {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        /* background-color: blue; */
    }
}